<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yes Reactivity</title>
  </head>
  <body>
    <div class="text-wrapper"></div>
  </body>
  <script>
    const div = document.querySelector(".text-wrapper");
    let obj = { text: "hello" };

    Object.defineProperty(obj, "text", {
      get: function () {},
      set: function (value) {
        div.innerHTML = value;
      },
    });
    div.innerHTML = obj; // hello
    obj.text = "bye bye"; // bye bye
  </script>
</html>
